body {
    margin: 0;
    line-height: 1.6;
}

header {
    background: #333;
    color: white;
    padding: 10% 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    border-radius: 20px;
    border: 2px solid #ccc;
}

#listbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f4f4f4;
    border-radius: 0px 0px 20px 20px;
    border: 2px solid #ccc;
    font-family: Arial, sans-serif;
}

#listbar li {
    margin: 1,5%;
    float: left;
    width: 25%;
}

#listbar li a {
    background-color: #333;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    border: 2px solid #ccc;
    border-radius: 20px;
}

#listbar li a:hover {
    background-color: #111;
    border-radius: 10px;
}

.listbarup {
    display: block;
    color: white;
    text-align: center;
    background-color: #333;
    border-radius: 20px;
    border: 2px solid #ccc;
    padding: 5px;
    text-decoration: none;
    font-family: Arial, sans-serif;
}

.listbarup:hover {
    background-color: #111;
    border-radius: 10px;
}

#textdiv {
    margin: 25px;
    padding: 25px;
}

section {
    padding: 20px;    
}

#introduce {
    background: #f4f4f4;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
}

#skills {
    background: #f4f4f4;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
}

#projects {
    background: #f4f4f4;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
}

.project {
    background: #fff;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    margin: 10px 0;
    font-family: 'Montserrat', sans-serif;
}

.project img {
    border: 2px solid #ccc;
    max-width: 10%;
    height: auto;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.project img:hover {
    height: auto;
    max-width: 100%;
}

#tomorrow {
    background: #f4f4f4;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
}

footer {
    background: #333;
    color: #fff;
    padding: 10px 0;
    font-family: 'Roboto', sans-serif;
    border: 2px solid #ccc;
    border-radius: 20px 20px 0px 0px;
}

#name  {
    border-radius: 10px;
    height: 40px;
    width: 95%;
    border: 2px solid black;
    margin: 20px;
}

#email {
    border-radius: 10px;
    height: 40px;
    width: 95%;
    border: 2px solid black;
    margin: 20px;
}

#message {
    border-radius: 10px;
    height: 100px;
    width: 95%;
    border: 2px solid black;
    margin: 20px;
}

#submitbutton {
    border-radius: 10px;
    background: #fff;
    color: #333;
    padding: 10px 15px;
    border: 2px solid black;
    cursor: pointer;
    margin: 10px;
}

#submitbutton:hover {
    background: white;
    color: #333;
    border: 2px solid black;
    border-radius: 15px;
}

.skill-container {
    width: 100%;
    background: #f44336;
    border-radius: 25px;
    margin: 10px 0px;
    border: 3px solid #ccc;
}

.skill-bar {
    height: 25px;
    border-radius: 25px;
    text-align: center;
    color: white;
    line-height: 25px;
}

.html { width: 70%; background: limegreen ; border: 3px solid #ccc;}
.css { width: 50%; background: limegreen ; border: 3px solid #ccc;}
.js { width: 30%; background: limegreen ; border: 3px solid #ccc;}