body {
    margin: 0;
    line-height: 1.6;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

section {
    padding: 20px;    
}

#introduce {
    background: #f4f4f4;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
}

#skills {
    background: #f4f4f4;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
}

#projects {
    background: #f4f4f4;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
}

#tomorrow {
    background: #f4f4f4;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
}

footer {
    background: #333;
    color: #fff;
    padding: 10px 0;
    etext-align: center;
    font-family: 'Roboto', sans-serif;
}

#name  {
    border-radius: 10px;
    height: 25px;
    border: 2px solid black;
}

#email {
    border-radius: 10px;
    height: 25px;
    border: 2px solid black;
}

#message {
    border-radius: 10px;
    height: 100px;
    border: 2px solid black;
}

#submitbutton {
    border-radius: 10px;
    background: #fff;
    color: black;
    padding: 10px 15px;
    border: 2px solid black;
    cursor: pointer;
}

#submitbutton:hover {
    background: black;
    color: #fff;
    border: 2px solid #fff;
    
}

.skill-container {
    width: 100%;
    background: #ddd;
    border-radius: 25px;
    margin: 10px 0;
}

.skill-bar {
    height: 25px;
    border-radius: 25px;
    text-align: center;
    color: white;
    line-height: 25px;
}

.html { width: 70%; background: #f44336;}